/* стили родительского блока */
.products{
	margin-top: 20px;
}

/* стили блока стоваром */
.products .row{
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* стили картинок */
.products img{
	width: 80px;
	border-radius: 9px;
	margin-right: 10px;
}

/* стили кнопки */
.products .btn{
	margin-left: 0;
	background: #ff5644;
	width: 300px;
	height: 50px;
}

/* стили для кнопки удаления всех товаров */
.products > form > .deleteAll{
	margin-left: 0;
	margin-bottom: 30px;
	background: #333;
	width: 260px;
	height: 50px;
}


/* стиль для иконки-корзины */
.products > .row > form > .btn i,
.products > form > .btn i{
	margin-left: 10px;
}