ServerSignature Off
AddDefaultCharset UTF-8
#Возможность обращения к файлам без указания их расширения - может не работать на некоторых хостингах
#Options -MultiViews
#запуск движка
RewriteEngine On
#файл от которого начинается работа с файлами...обычно на рабочем сайте здесь ставится слешь
RewriteBase /
#работа с папками, указанными в URL: при совпадении с дерикторией - использовать
RewriteCond %{REQUEST_FILENAME} !-d
#работа с папками, указанными в URL: при не совпадении с дерикторией - игнорировать
RewriteCond %{REQUEST_FILENAME} !-f
#1_Правило ^(.+)$, позволяющие вставлять любые символы в адресную строку 
#2_Правило index.php?url=$1, указывающее место вставки и скрывающее символы "?url=" из адресной строки. С этим правилом GET массив передается без необходимости прописывать "?url=".
RewriteRule ^(.+)$ index.php?url=$1